@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --snow: #FFFAFA;
  --snow-rgb: 255, 250, 250
  --color-border: #848482;
  --menu-height: 72px; /* desktop menu height */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@media (max-width: 900px) {
  :root {
    --menu-height: 56px; /* mobile menu height */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi-Regular", sans-serif;
}
